html {
  /* Background image will occupy 100% of window height */
  height: 100%;
}

body {
  /* Full-body Profile */
  background-image: url("../media/joe-wagner-about.jpg");

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  /* Padding so fixed-top navbar doesn't cover content */
  padding-top: 56px;

  /* Padding so fixed-bottom navbar doesn't cover content */
  padding-bottom: 56px;

  font-family: 'Roboto Slab', sans-serif;
}

.navbar-brand {
  text-transform: uppercase;
}

#about-top-navbar {
  /* Carnellian */
  background-color: #b31b1b;
}