body {
  /* Light purple */
  background-color: #c5baca;

  font-family: 'Roboto Slab', sans-serif;
}

.navbar-brand {
  text-transform: uppercase;
}

#contact-top-navbar {
  /* Carnellian */
  background-color: #b31b1b;
}

.footer-contact-info {
  /* Tritanopia color palette for footer */
  color: #007ba7;
}