html {
  /* Background image will occupy 100% of window height */
  height: 100%;
}

body {
  /* Seong flexing stick */
  background-image: url("https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/79184802_2521569561498209_975085188610853636_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=7wfjM-GpV6sAX-0nVL0&oh=610e4e87a5ab655462b530bd6bc2fb25&oe=5E8AEF09");

  background-position: center;
  background-size: cover;

  font-family: 'Roboto Slab', sans-serif;
}

.navbar-brand {
  text-transform: uppercase;
}

#index-top-navbar {
  /* Carnellian */
  background-color: #b31b1b;
}

.jumbotron {
  /* Tritanopia color palette */
  background-color: rgba(90, 75, 97, 0.9);

  /* White text color */
  color: white;
  text-align: center;

  /* Margin so jumbotron is near middle of page */
  margin-top: 15%;
}

.img-thumbnail {
  /* Limit height of profile picture on smaller screens */
  max-height: 20rem;
}

.footer-contact-info {
  /* Tritanopia color palette for footer */
  color: #007ba7;
}